#warp{
    background: #954815;
}

/* h1*/
header h1 a{
    color: #954815;
}

/* h2*/
h2 span:nth-of-type(1){
    left: -2%;
}

/* sub_summary */
.sub_summary h3{
    color: #431f08;
}
.sub_summary h3::after{
    background: #431f08;
}
.sub_summary p span{
    color: #ff6600;
}