/* about_left */
header{
    position: fixed;
    left: 0; top: 0;
}
.container{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.about_left{
    width: 50%; height: 100vh;
    float: left;
    background: #fdcaca;
    position: fixed;
}
.about_left p{
    width: 58%;
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.about_left p img{}

/* about_right */
.about_right{
    width: 50%;
    float: right;
    background: #3a2222;
}



