#warp{
    background: #1c1b34;
}

/* header */
header nav ul li:nth-of-type(3) a::after{
    left: 0;
}
header nav ul li a{
    color: #7473a0;
}
header nav ul li a:hover{
    color: #ffb1b2;
}
header nav ul li:nth-of-type(3) a{
    color: #fff;
}

.container{
    width: 100%;
    height: 78.8vh;
}
section{}
section h2{}
section form{}
section form ul{
    width: 50%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section form ul li{
    width: 100%;
}
section form ul li:nth-of-type(1),
section form ul li:nth-of-type(2){
    width: 49%;
}
section form ul li:nth-of-type(5){
    margin: 20px auto;
}
section form ul li input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 3px solid #ffb1b2;
}
section form ul li textarea{
    width: 100%;
    height: 40vh;
    margin: 10px;
    background: #fff;
    border: 3px solid #ffb1b2;
    resize: none;
}

/* button */
.btn{
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 4px solid;
  outline-color: rgba(255, 165, 166, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 1.625rem;
  font-weight: bold;
  color: #ffcdcd;
  animation: star 2s infinite;
} 

@keyframes star{
    0%{
        text-shadow: none;
    }
    50%{
        text-shadow: 2px 2px 10px #d40004; 
        color: #fde2e2;
    }
    100%{
        text-shadow: none;
    }
}

.btn:hover {
  border: 2px solid;
  box-shadow: inset 0 0 10px rgba(255, 72, 74, .5), 0 0 8px rgba(255, 72, 74, .2);
  outline-color: rgba(255, 72, 74, 0);
  outline-offset: 15px;
  color: #fde2e2;
  /* font-size: 1.75rem; */
  text-shadow: 2px 2px 10px #d40004; 
}