#warp{
    background: #1c1b34;
}

/* header */
header nav ul li a{
    color: #7473a0;
}
header nav ul li a:hover{
    color: #ff8283;
}
header nav ul li:nth-of-type(1) a{
    color: #fff;
}
header nav ul li:nth-of-type(1) a::after{
    left: 0;
}

/* container */
.thum_menu{
    width: 100%; height: 100%;
    padding: 3.75em 0 2.5em;
}
.thum_menu a{
    width: 120px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thum_menu a p{}
.thum_menu a p img{}
.thum_menu a strong{
    font-size: 1.3125rem;
    color: #ff484a;
    margin-left: 4px;
}

/* thum_img */
.thum_img{
    width: 100%; height: 100%;
    padding: 0 7.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.thum_img li{
    width: 26%;
    margin-top: 20em;
    opacity: 0;
}
.thum_img li:nth-of-type(1),
.thum_img li:nth-of-type(2),
.thum_img li:nth-of-type(3){
    margin-top: 8em;
}
.thum_img li a{}
.thum_img li a figure{
    position: relative;
}
.thum_img li a figure p{}
.thum_img li a figure p img{
    margin-bottom: -4px;
    box-shadow: 0 5px 60px 0 rgba(0, 0, 0, .7);
}
.thum_img li:hover a figure p img{
    box-shadow: 0 -1px 20px 5px rgba(255, 192, 193, .7);
}
.thum_img li a figure figcaption{
    background: url('../img/list/thum_list_hover.png') no-repeat;
    background-size: cover;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    text-align: center;
    opacity: 0;
    transition: .5s;
}
.thum_img li a figure:hover figcaption{
    opacity: 1;
}
.thum_img li a figure figcaption small{
    display: block;
    color: #fff;
    padding: 5.625em 0 2.5em;
}
.thum_img li a figure figcaption span{
    font-size: 2.875em;
    color: #fff;
    font-weight: bold;
}