#warp{
    background: #1c1b34;
}

.container{
    position: relative; 
}

section{
    width: 100%;
    height: 77vh;
    position: relative;
    left: 0; top: 0;
    z-index: 2;
}

/* thum_box */
.thum_box{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #f00;

}
.thum_box .box_img{
    width: 51%;
    position: absolute;
    left: -46%; top: 14%;
    border: 1px solid #f00;
}
.thum_box .box_img li{
    width: 100%;
    position: absolute;
    left: 0; top: 0;
}
.thum_box .box_img li.shadow{
    box-shadow: 0 5px 80px 0 rgba(255, 192, 193, .6);
}
.thum_box .box_img li a{
    width: 100%;
}
.thum_box .box_img li a > img{
    width: 100%;
    margin-bottom: -4px;
}

/* thum_list */
.thum_list{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 24.5%; top: 10%;
}
.thum_list > a{
    width: 64%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.thum_list > a > p{
    width: 14px;
    margin-right: 8px;
}
.thum_list > a > p img{
    margin-bottom: -4px;
}
.thum_list > a > span{
    color: #605e89;
    display: flex;
    align-items: center;
}
.thum_list > a > span::after{
    content: '';
    width: 20px; height: 1px;
    background: #605e89;
    display: inline-block;
    margin: 0 16px;
}
.thum_list .list_num{
    width: 36%;
    display: flex;
    align-items: center;
}
.thum_list .list_num > p{
    color: #fff;
    display: inline-block;
}
.thum_list .list_num > span{
    color: #605e89;
    margin-left: 8px;
}

/* thum_text */
.thum_text{
    width: 400px;
    background: rgba(255, 72, 74, .5);
    position: absolute;
    left: -5%; top: 56%;
    padding: 40px;
}
.thum_text p{
    font-size: 1.25rem;
    font-weight: bold;
    color: #fea5a6;
    letter-spacing: .1em;
}
.thum_text h2{
    font-size: 2.5rem;
    color: #fff;
    margin: 20px 0 5px;
}
.thum_text small{
    font-size: 0.875rem;
    color: #fff;
}
.thum_text small span{
    font-size: 0.875rem;
    color: #fff;
}

/* thum_button */
.thum_button{
    width: 92px; height: 46px;
    position: absolute;
    right: -46px; top: 84%;
}
.thum_button p{
    width: 50%; height: 100%;
}
.thum_button p:nth-of-type(1){
    background: rgba(254, 116, 117, .5);
    float: left;
}
.thum_button p:nth-of-type(2){
    background: rgba(255, 72, 74, .5);
    float: right;
}
.thum_button > p > img{
    width: 8px;
    margin: 15px auto;
}

/* box_text */
.box_text{
    color: #1c1b34;
    position: absolute;
    right: -82px; bottom: 184px;
    transform: rotate(90deg);
}

.container > strong{
    width: 100%;
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.container > strong img{}